.verify_head {
    font-family: var(--ion-font-text);
    margin-top: 220px;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0px;
}

.verify_subhead {
    font-family: var(--ion-font-text);
    font-weight: 400;
    font-size: 14px;
    color: var(--ion-color-medium)
}

.verify_input_text {
    margin: auto;
    margin-top: 60px;
    margin-left: 18px;
}


.verify_label {
    font-weight: 400;
    font-size: 12px;
    color: var(--ion-color-primary);
    margin-bottom: 0px;
}


.verify_btn {
    width: 149px; ;
    height: 45px;
    display: flex;
    margin: auto;
    margin-top: 80px;
    --background: #57855E;
    color: var(--ion-color-primary-contrast);
    border-radius: 50px;
}

.verify_input {
    width: 312px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    color: var(--ion-color-tertiary);
    margin-bottom: 10px;
    --padding-start: 15px;
}