ion-fab{
    bottom: 70px;
}

/* .fab-img{
    position: absolute;
    right: 294%;
    top: -343%;
    transform: scale(2);
    border-radius: 37px;
} */

/* .fab-qrcode{
    position: absolute;
    bottom: 257%;
    right: 37%;
    transform: scale(2);
}

.fab-scan{
    position: absolute;
    right: 325%;
    transform: scale(2);
} */
 